.topbar{
    width: 2500px;
    height: 100px;
    border-bottom: 1px solid greenyellow;
    padding: 0px;
}

.topbar-inner{
    width: 2200px;
     display: flex;
     justify-content: space-around;
     align-items: center;   
}

.menu ul li{
    display: flex;
    display: inline-block; 
    justify-content: space-between;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu ul li a{
    text-decoration: none;
    color: black;
    padding: 0px 0px 0px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu ul li a:hover{
    color: green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu ul li a:hover, a.active {
    color: green !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.slider {
    width: 100%;
    background-image: url('images/slider/slider-1.jpg');
    height: 500px;
}

.slider-inner {
    width: 500px;
    display: flex;
    margin: 0px 123px;
}

.slider-text h1 {
    margin: 5px;
    text-align: center; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.slider-text {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin: 170px auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.inner-text ul li {
    display: inline-block;
}

.inner-text ul li a  {
    text-decoration: none;
    color: black;
    padding: 0px 50px;
    font-size: 18px;
}

.inner-text ul li a:active {
    text-decoration: none;
    color: white;
    padding: 0px 50px;
    font-size: 18px;
    background-color: greenyellow;
    
}

.inner-text ul li a:hover{
    background-color: greenyellow;
}

.midbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.midbar-image img{
    display: flex;
    justify-content: flex-start;
    height: 900px;
}

.midbar-text h1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.midbar-text p{
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.downbar-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.downbar-image{
    order: 2;
}

.downbar-image img{
    width: 100%;
    height: 530px;
}

.downbar-text h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.downbar-text p{
    margin: 20px 60px;
    padding: 6px 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.footer-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-text h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer-text p{
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.footer-image img{
    width: 1600px;
    height: 500px;
}


.idkbar{
    width: 100%;  
}

.idk-content{
    width: 1200px;
}

.idk-images{
    float: left;
    justify-content: space-around;
    align-items: center;
}

.idk-img{
  float: left;
  justify-content: space-around;
  align-items: center;
}

.image1{
    background-image: url('images/project/project-1.jpg');
    width: 400px;
    height: 300px;
}

.image1, h2{
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
 }
 
 .image1, p{
     font-size: 15px;
     padding-left: 70px;
     padding-top: 35px;
     margin-top: 10px;
     justify-content: center;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }



.image2{
    background-image: url('images/project/project-2.jpg');
    width: 400px;
    height: 300px;
}

.image2, h2{
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
 }
 
 .image2, p{
     font-size: 15px;
     padding-left: 70px;
     padding-top: 35px;
     margin-top: 10px;
     justify-content: center;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }


 

.image3{
    background-image: url('images/project/project-3.jpg');
    width: 400px;
    height: 300px;
}

.image3, h2{
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
 }
 
 .image3, p{
     font-size: 15px;
     padding-left: 70px;
     padding-top: 35px;
     margin-top: 10px;
     justify-content: center;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .image4{
    background-image: url('images/project/project-4.jpg');
    width: 400px;
    height: 300px;
}

.image4, h2{
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
 }
 
 .image4, p{
     font-size: 15px;
     padding-left: 70px;
     padding-top: 35px;
     margin-top: 10px;
     justify-content: center;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .image5{
    background-image: url('images/project/project-5.jpg');
    width: 400px;
    height: 300px;
}

.image5, h2{
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
 }
 
 .image5, p{
     font-size: 15px;
     padding-left: 70px;
     padding-top: 35px;
     margin-top: 10px;
     justify-content: center;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .image6{
    background-image: url('images/project/project-6.jpg');
    width: 400px;
    height: 300px;
}

.image6, h2{
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
 }
 
 .image6, p{
     font-size: 15px;
     padding-left: 70px;
     padding-top: 35px;
     margin-top: 10px;
     justify-content: center;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }




